 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-cards {
            max-width: 85%;
            margin: 20px auto; /* Center horizontally */
            padding: 20px;
            background-color: #012542;
            color: white;
            margin-top: 100px;
        }
        .form-cards .form-containeri {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center; /* Vertically center */
        }
        .form-cards .form-containeri .left {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-right: 20px;
            text-align: left;
            margin-left: 70px; /* Center text horizontally */
        }
        .form-cards .form-containeri .left h1 {
            font-weight: bold;
        }
        .form-cards .form-containeri .right {
            flex: 1;
            padding-left: 20px;
        }
        input[type="text"], input[type="tel"], input[type="email"], textarea {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            padding: 5px 0;
            margin-bottom: 10px;
        }
        input[type="text"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
            color: #cccccc;
        }
        input[type="submit"] {
            background-color: white;
            color: #012542;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            display: block;
            margin: 20px auto 0; /* Center horizontally */
        }
        input[type="submit"]:hover {
            background-color: #cccccc;
        }
        #cardi {
            display: none;
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            color: #000;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            width: 45%;
            max-width: 800px;
            z-index: 10;
            text-align: center;
        }
        #cardi #upper-side {
            padding: 2em;
            background-color: #8BC34A;
            color: #fff;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }
        #cardi #upper-side h3 {
            margin: 10px 0 0;
        }
        #cardi #lower-side {
            padding: 2em 2em 5em 2em;
            background: #fff;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        #cardi #message {
            margin-top: -0.5em;
            color: #757575;
            letter-spacing: 1px;
        }
        html {
        scroll-behavior: smooth;
        }
        @media (max-width: 768px) {
            .form-cards .form-containeri .left {
              display: none;
            }

            .form-cards .form-containeri .right {
                flex: 1 0 100%; /* Make the right section take up the full width */
                padding-left: 0; /* Adjust padding if necessary */
                display: flex;
                flex-direction: column;
                align-items: center; 
            }
            .form-cards .form-containeri .right .form-control {
              width: 100%; /* Set width to 85% of the card */
            }
        }
</style>

<div class="containeri" id="contact-us">
    <div class="cardi form-cards">
        <div class="cards-body">
            <div class="form-containeri">
                <div id="cardi" class="animated fadeIn">
                    <div id="upper-side">
                        <svg version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
                            <path d="M131.583,92.152l-0.026-0.041c-0.713-1.118-2.197-1.447-3.316-0.734l-31.782,20.257l-4.74-12.65 
                                    c-0.483-1.29-1.882-1.958-3.124-1.493l-0.045,0.017c-1.242,0.465-1.857,1.888-1.374,3.178l5.763,15.382 
                                    c0.131,0.351,0.334,0.65,0.579,0.898c0.028,0.029,0.06,0.052,0.089,0.08c0.08,0.073,0.159,0.147,0.246,0.209 
                                    c0.071,0.051,0.147,0.091,0.222,0.133c0.058,0.033,0.115,0.069,0.175,0.097c0.081,0.037,0.165,0.063,0.249,0.091 
                                    c0.065,0.022,0.128,0.047,0.195,0.063c0.079,0.019,0.159,0.026,0.239,0.037c0.074,0.01,0.147,0.024,0.221,0.027 
                                    c0.097,0.004,0.194-0.006,0.292-0.014c0.055-0.005,0.109-0.003,0.163-0.012c0.323-0.048,0.641-0.16,0.933-0.346l34.305-21.865 
                                    C131.967,94.755,132.296,93.271,131.583,92.152z" />
                            <circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486" cy="104.353" r="32.53" />
                        </svg>
                        <h3 id="status">Success</h3>
                    </div>
                    <div id="lower-side">
                        <p id="message">Congratulations, your account has been successfully created.</p>
                    </div>
                </div>
                <div class="left ">
                    <p>Let's Get In Touch</p>
                    <h1>Don't Hesitate To Contact Us</h1>
                </div>
                <div class="right">
                    <div class="lefti d-md-none" style="margin-bottom: 10px;">
                        <p>Let's Get In Touch</p>
                        <h1>Fill Your Details Here :-</h1>
                    </div> 
                    <%= form_with model: @contact, url: submit_form_path, method: :post, local: false, id: 'contactForm' do |form| %>
                        <div class="form-group">
                            <%= form.label :candidate_name, "Enter your name" %>
                            <%= form.text_field :candidate_name, placeholder: "Your Name", required: true, class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= form.label :father_name, "Enter father's name" %>
                            <%= form.text_field :father_name, placeholder: "Father's name", required: true, class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= form.label :phone_number, "Enter phone number" %>
                            <%= form.telephone_field :phone_number, placeholder: "i.e. 9875678768", required: true, class: "form-control", pattern: "[0-9]{10}" %>
                        </div>
                        <div class="form-group">
                            <%= form.label :email_id, "Enter Email_id" %>
                            <%= form.email_field :email_id, placeholder: "i.e. mail@mail.com", required: true, class: "form-control"%>
                        </div>
                        <div class="form-group">
                            <%= form.label :college, "College" %>
                            <%= form.text_field :college, placeholder: " College", required: true, class: "form-control"%>
                        </div>
                        <div class="form-group">
                            <%= form.label :course_interest, "Course" %>
                            <%= form.text_field :course_interest, placeholder: "Course you want to enroll", required: true, class: "form-control"%>
                        </div>
                        <div class="form-group">
                            <%= form.label :query, "Enter your query" %>
                            <%= form.text_area :query, placeholder: "Question to ask ", required: true, rows: 2, class: "form-control" %>
                        </div>
                    <%= form.submit "Submit", class: "btn btn-primary", style: "background-color: #6351ce; border: none;" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('contactForm').addEventListener('submit', function(event) {
        event.preventDefault(); 
        
        const form = this;
        const formData = new FormData(form);

        fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        }).then(response => {
            if (response.ok) {
                document.getElementById('cardi').style.display = 'block';
                form.reset();
                
                setTimeout(function() {
                    document.getElementById('cardi').style.display = 'none';
                }, 1500);
            } else {
                console.error('Form submission failed');
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    });
</script>

