<!DOCTYPE html>
<html>
<head>
  <title>SR Admission Hub</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="icon" href="<%= asset_path('logo.png') %>" class="logoin">
</head>
<body>
  <div class="containings">
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
